<p>Change or reset your password</p>

<form method="post">
   Give the current password
    <br>
    <input type="password" name="password">
    <br>
    Set new password
    <br>
    <input type="password" name="newPassword">
    <br>
    Repeat new password
    <br>
    <input type="password" name="newPassword2">
    <br>
    <button class="button-save" type="submit">Confirm</button>
    <button class="button-cancel"><a href="/">Cancel</a></button>
</form>

<div class="error">
    {{message}}
    {{errors.password}}
</div>

<p>After changing the password, you will be taken to the home page to log in again.</p>
<div>
    <p>If you want reset your password, click on RESET button.</p>
    <p>You get new password to login, after that you can change your password again</p>
    <a href="/admin/profile/password/reset/{{userID}}"><button class="button-save">RESET</button></a>
</div>
