<h2>Are you sure you want to delete {{{user.email}}} account?</h2>
<div>
    <button class="button-delete"><a href="/admin/profile/delete/{{user._id}}">Confirm</a></button>
    <button class="button-cancel"><a href="/admin/profile">Cancel</a></button>
</div>





