

<form method="post">
    <label>

        User name <br><input type="text" name="name"><br>
        Email <br><input type="email" name="email"><br>
        Password <br> <input type="password" name="password1"><br>
        Repeat password <br><input type="password" name="password2">

    </label>
<br>
<button type="submit">Register</button>
</form>
{{message}}
{{error.email.message}}
{{error.password}}