<div class="addFormular">


<form method="post" action="addCompany">
    <label>

       Name<br> <input type="text" name="name"><br>

       Address <br><input type="text" name="address"><br>

       Email <br><input type="email" name="email"><br>

       Phone number <br><input type="number" name="phone"><br>

       Assigned Person <br><input type="text" name="assignedPerson"><br>

       Notes <br><textarea placeholder="notes"></textarea><br>

       Contact Person <br><input type="text" name="contactPerson"><br>


    </label><br>
    <button type="submit" class="button-save">Add</button>
   <button class="button button-cancel"> <a href="/"> Cancel </a></button>
</form>
</div>