<h2>Are you sure you want to delete company <i>{{{company.name}}}</i> from database???</h2>
<div>
    <button class="button-delete"><a href="/admin/delete/{{company._id}}">Confirm</a></button>
    <button class="button-cancel"><a href="/admin/get/{{company._id}}">Cancel</a></button>
</div>



